.chamada__titulo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    /* or 119% */

    letter-spacing: 0.2px;

    color: #C4C4C4;


    
}