.cadastro__titulo{
    /* Title */

   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; 
    /* or 150% */

    letter-spacing: 0.1px;

    color:  #000000;;
}